body{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
body>h1{
    text-transform: uppercase;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 3px solid black;
}
select{
    background-color: coral;
    color: white;
    padding: 20px;
    font-size: 30px;
}

input{
    border: none;
    background-color: beige;
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
}

button{
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 20px;
    transition: all 300ms;
}
button:hover{
    background-color: rgb(181, 125, 233);
}

.pelicula{
    text-align: start;
    background-color: aqua;
}
.pelicula h3{
    font-size: 25px;
    text-decoration:underline;
}
.pelicula p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}