h1{
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:  red;
    text-shadow: 2px 2px 5px blueviolet;
}

p{
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: forestgreen;
}

input{
    color: blue;
    font-weight: bolder;
    font-size: 3em;
}

button{
    background-color: #2ea44f;
    border: 3px solid rgba(27,31,35,.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1);
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 2px 16px;
    position: relative;
    text-align: center;
}